.note {
    width: 1em;
    height: 2em;
    margin: 0 0.5em;
    background-repeat: no-repeat;
    background-position: bottom left;
    display: inline-block;
}

.note[data-duration="1"] {
    width: 4em;
}

.note[data-duration="2"] {
    width: 2em;
}

.note--dotted {
    color: green;
}

.note--triplet {
    color: red;
}